{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="symbol" required>
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" min="1" type="shares" required>
            <input type="hidden" name="page" value="buystock.html">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
<h3 class="mt-3">Available Cash: {{cash}}</h3>
{% endblock %}