{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <label>Symbol</label>
        <input class="form-control mx-auto w-auto" type="text" name="symbol" value={{quote["symbol"]}} readonly>
        <label>Description</label>
        <input class="form-control mx-auto w-auto" type="text" name="description" value={{quote["name"]}} readonly>
        <label>Price</label>
        <input class="form-control mx-auto w-auto" type="number" name="price" value={{quote["price"]}} readonly>
        <label>Quantity</label>
        <input class="form-control mx-auto w-auto" type="number" name="shares" placeholder="Quantity" required>
        <button class="btn btn-primary mt-2" type="submit">Place Buy Order</button>
    </form>
{% endblock %}