{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<form action="/sell" method="post">
    <label for="stock">Choose a stock:</label>
    <select name="symbol" id="symbol">
    {% for row in symbols%}
        <option value={{row["symbol"]}}>{{row["symbol"]}}</option>
    {% endfor %}
    </select>
    <input class="form-control mx-auto w-auto mt-3" type="number" id="shares" name="shares" placeholder="Quantity" required>
    <button class="btn btn-primary mt-3" type="submit">Place Sell Order</button>
</form>
{% endblock %}